{% extends "shortener/layout.html" %}
{% load i18n %}

{% block content %}
<!-- Page content-->
<div class="container-sm container wrapper flex-grow-1" style="max-width: 1100px">
    <div class="text-center mt-5">
        <h1>URL Shortener</h1>
        <p class="lead">URL shortener - простое решение для сокращения длинных URL-адресов в короткие и удобные ссылки. Упростите процесс обмена ссылками, делая их более легкими для использования и передачи.</p>
    </div>
    <div class="text-center mt-5">
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <p class="lead">{{ field.label_tag }}</p>
                {{ field }}

            <input type="submit" value="Submit">
            {% if field.errors %}
                {% for error in field.errors %}
                    <p>{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
            {% endfor %}
        </form>
    </div>
    {% if token %}
    <div class="text-center mt-5">
        <h1>Your short URL:</h1>
        <a href="{{ hostname }}{{ token }}">{{ hostname }}{{ token }}</a>
    </div>
    {% endif %}
</div>
{% endblock %}